@using Microsoft.AspNet.Identity

@if (@Request.IsAuthenticated)
{

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#">Welcome @User.Identity.GetUserName()</a>
    </li>
    <li><a href="@Url.Action("Logoff","User")">Log off</a></li>
</ul>
}

